<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">


</head>
<body>
<h1>Elixir</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolorum eligendi eos excepturi nam numquam omnis saepe, soluta totam ullam. Adipisci animi dolores ea exercitationem incidunt obcaecati? Consequuntur, totam veritatis.</span><span>Atque debitis ea molestiae nihil sed totam vero. Magnam odio placeat quasi similique! Ab cum enim illum in neque, nobis provident qui rerum temporibus? Assumenda dicta hic quis ratione totam!</span></p>
<div class="home">
    <img src="{% static 'assets/images/elixir1.jpeg' %}" alt="">
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda beatae commodi fugiat harum in ipsam magnam, natus necessitatibus porro quas quibusdam recusandae sint totam voluptate. Amet eius est illo.</span><span>Aliquid beatae consequatur deleniti dolores itaque iusto, obcaecati quidem ratione veritatis voluptas? Accusamus nemo nisi obcaecati omnis quia reprehenderit repudiandae sapiente ullam. Doloremque eligendi rerum similique tempore. Accusamus, est, nulla.</span><span>Ab, amet autem cum debitis doloremque eius enim esse eum, hic incidunt inventore itaque maxime odit quaerat sapiente vitae voluptate? Blanditiis, culpa delectus deleniti esse iure necessitatibus odio qui voluptas?</span></p>
</div>

</body>
</html>